
# Arquivos gerados pelo Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar

# Arquivos de configuração das IDEs
### Eclipse ###
.settings/
.project
.classpath

### IntelliJ IDEA ###
.idea/
*.iml

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
build/

### VS Code ###
.vscode/

# Arquivos de log
*.log

# Arquivos de compilação temporária
*.class

# Arquivos de backup e temporários
*~
*.bak
*.swp

# Arquivos específicos de OS
.DS_Store
Thumbs.db
